@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&family=Readex+Pro:wght@600&family=Roboto+Mono:wght@100&family=Roboto:ital@1&family=Source+Sans+Pro:ital@0;1&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&family=Readex+Pro:wght@600&family=Roboto+Mono:wght@100&family=Roboto:ital@1&family=Source+Sans+Pro:ital@0;1&family=Ubuntu:wght@300&family=Varela&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;

}
nav{
    font-family: 'Ubuntu' , sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
}