@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&family=Readex+Pro:wght@600&family=Roboto+Mono:wght@100&family=Roboto:ital@1&family=Source+Sans+Pro:ital@0;1&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&family=Readex+Pro:wght@600&family=Roboto+Mono:wght@100&family=Roboto:ital@1&family=Source+Sans+Pro:ital@0;1&family=Ubuntu:wght@300&family=Varela&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;

}
nav{
    font-family: 'Ubuntu' , sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 45px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{

    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;;
    font-size: 1.3rem;
}

.container{
   min-height: 65vh;
   background-color: black;
   color: white;
   font-family: 'Varela Round' , sans-serif;
   display:flex ;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   
   background-size: 1030px  ;
    
}


.bottom{
    position: sticky;

    height: 100px;;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    
}


.icon{
    margin-top: 14px;
    
    
}

.icon i{
    cursor: pointer;
    margin: 0px 5px;
}
#myprogressBar{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    height: 50px;
    width: 60vh;
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    border-radius: 34px;
}

.songlistplay{
    display: flex;
    font-size: smaller;
}
.songItem img{
    width: 43px;
    margin: 0px 23px;
    border-radius: 34px;
}
.timestamp{
    padding: 0px 23px;
    
}
.timestamp i{
    cursor: pointer;
}
.songItemcontainer{
    padding: 20px;
}
.songinfo{
    position: absolute;
    left: 0;
    padding-left: 50px;
    font-family: 'Varela Round' , sans-serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.1s ease-in ;
}
.songname{
    font-size: 13px;
    
    color: black;
}

.songBanner img{
    height: 70vh;
    width: 80vh;

}
@media only screen and (max-width: 1024px) {
    .songBanner img{
        width: 100%;
        height: auto;
      }

      .songlist{
        display: inline-block;
        font-size: 20px;
       height: auto;
       width: auto;
    }

    .songItem{
        width: 100%;
        height: auto;
      
        
    }
    .timestamp{
        font-size: smaller;
        text-align: center;
        display: flex;
        
        
    }
    .songname{
        font-size: small;
    }
    .songItemplay{
        padding-left: 5px;
    font-size: smaller;
        }
  }
  @media only screen and (max-width: 480px) {
    .songlist{
        display: inline-block;
        font-size: 20px;
       height: auto;
       width: auto;
    }

    .songItem{
        width: auto;
        height: auto;
        font-size: 22px;
        
    }

  .container{
    flex-direction: column;
  }

  .songBanner img{
    width: 100%;
    height: auto;
  }

  .songItem{
    font-size: initial;
}
.songname{
    font-size: small;
}
.timestamp{
    font-size: small;
    text-align: center;
    display: flex;
    
    
}
.songItemplay{
    padding-left: 5px;
font-size: small;
    }

    .songinfo{
        padding: 0;
        font-size: 9px;
    }
   
  }